<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет products -->
{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    {% if news %} <!-- Выводим товары только, если они есть с помощью тега if -->
        Количество заметок на портале:
        {{ news|length}}

        {{ news }}
    {% else %} <!-- Если товаров нет, то говорим, что товаров нет ;) -->
        <h2>Заметок нет!</h2>
    {% endif %}
{% endblock content %}
