{% extends 'flatpages/default.html' %}

{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Новости на портале</h1>
    <hr>
    {% if news %} <!-- Если есть заметки, то выводим таблицу с ними -->
        Количество заметок на портале:
        {{ news|length}}

        <table>
            <tr>
                <td>
                    Название
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Описание
                </td>
            </tr>
        {% for note in news %}
            <tr>
                <td>
                    {{ note.title|censor }}
                </td>
                <td>
                    {{ note.dateCreation|date:'d M Y' }}
                </td>

                <td>
                    {{ note.text|truncatechars:50|censor }} <!-- дописываем специальный фильтр, чтобы ограничить количество символов до 20. Все остальные символы превратятся в многоточие. -->
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Заметок на портале нет!</h2>
    {% endif %}
{% endblock content %}
